// les polices
$spElite: "Special Elite";
$secondPolice: "Fjalla One";
$thirdPolice: "Roboto Mono";

// les couleurs
$mainColor: #F09205;
$secondColor: #000000;
$thirdColor: #E4E4E4;
$fourColor: #886D14;

// tailles
$h1: 8rem;
$h2: 3rem;
